annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
certifi==2024.12.14 ; python_version >= "3.11" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.11" and python_version < "4.0" and platform_python_implementation == "PyPy"
clickhouse-connect==0.8.10 ; python_version >= "3.11" and python_version < "4.0"
geopandas==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
kafka-python==2.0.2 ; python_version >= "3.11" and python_version < "4.0"
lz4==4.3.3 ; python_version >= "3.11" and python_version < "4.0"
numpy==2.2.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.11" and python_version < "4.0"
pandas==2.2.3 ; python_version >= "3.11" and python_version < "4.0"
polars==1.17.1 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.11" and python_version < "4.0" and platform_python_implementation == "PyPy"
pydantic-core==2.27.1 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.10.3 ; python_version >= "3.11" and python_version < "4.0"
pyogrio==0.10.0 ; python_version >= "3.11" and python_version < "4.0"
pyproj==3.7.0 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
pytz==2024.2 ; python_version >= "3.11" and python_version < "4.0"
shapely==2.0.6 ; python_version >= "3.11" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2024.2 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.2.3 ; python_version >= "3.11" and python_version < "4.0"
zstandard==0.23.0 ; python_version >= "3.11" and python_version < "4.0"
